.footerWrapper {
  position: relative;
  height: 800px;
}

.footerContainer {
  position: relative;
  height: calc(100vh + 800px);
  top: -100vh;
}

.footerContent {
  height: 800px;
  position: sticky;
  top: calc(100vh - 800px);
}

.footer {
  background-color: #114a83;
  padding: 2rem 3rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .section1 {
    .nav {
      display: flex;
      flex-shrink: 0;
      gap: 5rem;

      .navColumn {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        h3 {
          margin-bottom: 0.5rem;
          text-transform: uppercase;
          color: #efefef;
        }

        p {
          color: #efefef;
          font-size: 1.2rem;
        }
      }
    }
  }

  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #efefef;

    h1 {
      font-size: 4vw;
      line-height: 0.8;
      margin-top: 2.5rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}
